$background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$border-grey: #e2e2e2d3;
$dark-shadow: #3f3f3f5e;
$shadow: #afafafe0;
$white: white;

$container-size: 1366px;
$mob-container-size: 375px;

$font: 'Barlow Semi Condensed', sans-serif;

$paper-border: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$rock-border: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$scissors-border: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));

$dark-blue: #37489c;
$dark-orange: #b87b0b;
$dark-red: #ac233c;
$red: hsl(349, 71%, 52%);
